.zjd-top.login {
	width: 100%;
	height: 610px;
	background-color: #256fa9;

	.zjd-container {
		width: 1200px;
		min-width: 1200px;
		margin: 0 auto;
	}
}

.login-bg {
	margin-top: 60px;
	margin-left: 65px;
}

.zjd-login {
	width: 370px;
	height: auto;
	margin: 60px 45px 130px 170px;
	background-color: #f4f4f4;
	padding: 20px 30px 40px 30px;

	.item {
		line-height: 25px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.input {
		position: relative;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.icon-login-account {
		position: absolute;
		top: 36px;
	}

	.icon-login-pwd {
		position: absolute;
		top: 36px;
	}

	.input .text-input {
		width: 100%;
		margin-top: 5px;
		margin-bottom: 5px;
		line-height: 42px;
		text-indent: 47px;
		font-size: .875em;
		border: 1px solid #e9e9e9;
	}

	.input .submit-input {
		width: 100%;
		height: 45px;
		margin-top: 12px;
		margin-bottom: 12px;
		line-height: 45px;
		color: #fff;
		background-color: #3587c6;
		outline: none;
		border: 0;
		font-family: "Microsoft YaHei";
		font-size: 1.25em;
		cursor: pointer;
	}

	a {
		color: #3786c6;
	}

	.b64a1e {
		color: #b64a1e;
	}
}